* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  /*height: 100vh;*/
  font-family: Arial, sans-serif;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #fff9ce, #fff98b);
  color: #2a7125;
  text-align: center;
}

h1 {
  font-size: 2.35rem !important;
  font-weight: bolder;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f5d001;
  text-shadow: -1px -1px 0 #574a00, 1px -1px 0 #574a00, -1px 1px 0 #574a00, 1px 1px 0 #574a00;
}

h3 {
  font-size: 2rem !important;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  max-height: 35vh;
  width: fit-content;
  padding-bottom: 5px;
  overflow: auto;
  margin: 10px 0;
}

.events-table {
  min-width: 20%;
  border-collapse: collapse;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.events-table th, .events-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.events-table th {
  background-color: #73a634;
  color: white;
  font-weight: bold;
}

.events-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.events-table tr:hover {
  background-color: #f1f1f1;
}

.consumption-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  padding: 20px;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.6;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.consumption-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.consumption-container p {
  margin: 10px 0;
}

.consumption-container hr {
  border: none;
  height: 1px;
  background: #f9f9f9;
  margin: 15px 0;
}

.consumption-box {
  display: inline-block;
  background: #73a634;
  color: white;
  padding: 0.5rem 1.5rem;
  gap: 10px;
  border-radius: 8px;
  font-weight: bold;
  margin: 10px 50px;
  min-width: 150px;
}

.consumption-boxes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.normal-consumption {
  background: #73a634;
  color: white;
}

.warning-consumption {
  background: #f5d001;
  color: white;
}

.high-consumption {
  background: #f44336;
  color: white;
}

.consumption-limit-input {
  margin: 1rem 0;
}

.limit-input {
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-left: 0.5rem;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
