<body>
  <div class="page-container">
    <app-navbar></app-navbar>
    <div class="form-container">
      <h2>Add New Invoice</h2>
      <form class="form-group" [formGroup]="invoiceForm" (ngSubmit)="submitInvoice()">
        <label for="price">Price (€):</label>
        <input type="number" id="price" formControlName="price" required />
        <p class="error-message" *ngIf="invoiceForm.controls['price'].invalid && invoiceForm.controls['price'].touched">
          Price cannot be empty or contain only spaces.
        </p>

        <label for="consumption">Consumption (kWh):</label>
        <input type="number" id="consumption" formControlName="consumption" required />
        <p class="error-message" *ngIf="invoiceForm.controls['consumption'].invalid && invoiceForm.controls['consumption'].touched">
          Consumption cannot be empty or contain only spaces.
        </p>

        <label for="emissionDate">Emission Date:</label>
        <input type="date" id="emissionDate" formControlName="emissionDate" [max]="today" required />

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

        <div class="button-container">
          <button (click)="submitInvoice()" [disabled]="invoiceForm.invalid || isSubmitting" class="btn submit-btn">Add Invoice</button>
          <button (click)="goToInvoices()" class="btn cancel-btn">Cancel</button>
        </div>
      </form>

      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    </div>
    <app-footer></app-footer>
  </div>
</body>

