<body>
  <div class="page-container">
    <app-navbar></app-navbar>
    <div class="form-container">
      <h2>Add New Event</h2>
      <form class="form-group" [formGroup]="eventForm" (ngSubmit)="submitEvent()">
        <label for="name">Event Name:</label>
        <input type="text" id="name" formControlName="name" required />
        <p class="error-message" *ngIf="eventForm.controls['name'].invalid && eventForm.controls['name'].touched">
          Name cannot be empty or contain only spaces.
        </p>

        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description" required />
        <p class="error-message" *ngIf="eventForm.controls['description'].invalid && eventForm.controls['description'].touched">
          Description cannot be empty or contain only spaces.
        </p>

        <label for="date">Date:</label>
        <input type="date" id="date" formControlName="date" [min]="today" required />

        <label for="type">Event Type:</label>
        <select id="type" formControlName="type">
          <option [value]="0">Payment</option>
          <option [value]="1">Price</option>
          <option [value]="2">Miscellaneous</option>
        </select>

        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

        <div class="button-container">
          <button type="submit" class="btn submit-btn" [disabled]="eventForm.invalid || isSubmitting">Add Event</button>
          <button type="button" class="btn cancel-btn" (click)="goToEvents()">Cancel</button>
        </div>
      </form>

      <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
    </div>
    <app-footer></app-footer>
  </div>
</body>

