<body>
  <div class="page-container">
    <app-navbar-simple></app-navbar-simple>
    <div class="dashboard-container">
      <h2>Change password</h2>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" class="form-control" />

          <div *ngIf="resetPasswordForm.get('password')?.touched">
            <div *ngIf="resetPasswordForm.get('password')?.hasError('required')" class="text-danger">
              Required
            </div>
            <div *ngIf="resetPasswordForm.get('password')?.hasError('minlength')" class="text-danger">
              Must be at least 8 characters long
            </div>
            <div *ngIf="resetPasswordForm.get('password')?.hasError('maxlength')" class="text-danger">
              Must be at most 128 characters long
            </div>
            <div *ngIf="resetPasswordForm.get('password')?.hasError('passwordStrength') && !resetPasswordForm.get('password')?.hasError('minlength')" class="text-danger">
              Requirements:
              <ul>
                <li>One uppercase letter</li>
                <li>One lowercase letter</li>
                <li>One digit</li>
                <li>One special character (!&#64;#$%^&* etc.)</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
          <div *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.get('confirmPassword')?.touched" class="text-danger">
            Passwords must match.
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <button type="submit" class="btn submit-btn" [disabled]="resetPasswordForm.invalid || loading">
          {{ loading ? 'Changing...' : 'Change Password' }}
        </button>
      </form>
    </div>
    <app-footer></app-footer>
  </div>
</body>
