<body>
  <div class="page-container">
    <div class="navbar">
      <h3>Project Gaia</h3>
      <button (click)="goBack()" class="btn">← Back</button>
    </div>

    <div class="dashboard-container">
      <h2>Change password</h2>

      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="currentPassword">Current password</label>
          <input id="currentPassword" type="password" formControlName="currentPassword" class="form-control" />
          <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched" class="text-danger">
            Required
          </div>
        </div>

        <div class="form-group">
          <label for="newPassword">Password</label>
          <input id="newPassword" type="password" formControlName="newPassword" class="form-control" />

          <div *ngIf="changePasswordForm.get('newPassword')?.touched">
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required')" class="text-danger">
              Required
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
              Must be at least 8 characters long
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('maxlength')" class="text-danger">
              Must be at most 128 characters long
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('passwordStrength') && !changePasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
              Requirements:
              <ul>
                <li>One uppercase letter</li>
                <li>One lowercase letter</li>
                <li>One digit</li>
                <li>One special character (!&#64;#$%^&* etc.)</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
          <div *ngIf="changePasswordForm.hasError('passwordMismatch') && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
            Passwords must match.
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>

        <button type="submit" class="btn submit-btn" [disabled]="changePasswordForm.invalid || loading">
          {{ loading ? 'Changing...' : 'Confirm' }}
        </button>
      </form>
    </div>
  </div>
</body>
