/* Shared styles for all pages */
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html, body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.page-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
}

.auth-container, .dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #fff9ce, #fff98b);
  color: #2a7125;
  text-align: center;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #f5d001;
  text-shadow: -1px -1px 0 #574a00, 1px -1px 0 #574a00, -1px 1px 0 #574a00, 1px 1px 0 #574a00;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #73a634;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #73a634;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  max-width: 20vw;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #f5d001;
}

.text-danger {
  font-size: 0.875rem;
  color: #f44336;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn {
  background-color: #afdf3c;
  color: white;
}

.submit-btn:hover {
  opacity: 0.9;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.return-btn {
  background-color: #afdf3c;
  color: white;
  margin-left: 1rem;
}

.action-buttons {
  display: flex;
  gap: 1rem;
}

.alert {
  margin-top: 1rem;
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem;
  border-radius: 5px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, hsla(92, 93%, 84%, 1) 20%, hsla(0, 0%, 100%, 1) 100%);
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.forgot-password {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #555;
  text-align: center;
  cursor: pointer;
  text-decoration: underline !important;
  margin-bottom: 1rem;
}

.forgot-password:hover {
  color: #333;
}
