<body>
  <div class="page-container">
    <div class="auth-container">
      <h2>Register</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Username</label>
          <input id="name" type="text" formControlName="name" class="form-control" />
          <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
            Required (max 64 characters)
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" class="form-control" />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
            Invalid email address
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" formControlName="password" class="form-control" />

          <div *ngIf="registerForm.get('password')?.touched">
            <div *ngIf="registerForm.get('password')?.hasError('required')" class="text-danger">
              Required
            </div>
            <div *ngIf="registerForm.get('password')?.hasError('minlength')" class="text-danger">
              Must be at least 8 characters long
            </div>
            <div *ngIf="registerForm.get('password')?.hasError('maxlength')" class="text-danger">
              Must be at most 128 characters long
            </div>
            <div *ngIf="registerForm.get('password')?.hasError('passwordStrength') && !registerForm.get('password')?.hasError('minlength')" class="text-danger">
              Requirements:
              <ul>
                <li>One uppercase letter</li>
                <li>One lowercase letter</li>
                <li>One digit</li>
                <li>One special character (!&#64;#$%^&* etc.)</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
          <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched" class="text-danger">
            Passwords must match.
          </div>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>

        <button type="submit" class="btn submit-btn" [disabled]="registerForm.invalid || loading">
          {{ loading ? 'Registering...' : 'Register' }}
        </button>
        <button class="btn return-btn" (click)="goToLandingPage()">Back</button>
      </form>
    </div>
    <div class="image-container">
      <img src="/logoProjectGaia.png">
    </div>
  </div>
</body>

