<body>
  <div class="page-container">
    <app-navbar></app-navbar>
    <div class="simulation-container">
      <h2>Energy Provider Simulation</h2>

      <h3 *ngIf="invoices.length > 0">Average Price of all Invoices: {{ averagePrice }}€</h3>

      <h3 *ngIf="invoices.length > 0">Average Consumption of all Invoices: {{ averageConsumption }}KWh</h3>

      <h3 *ngIf="invoices.length === 0" style="color: #bf1717">Please add invoice data to access invoice metrics and the simulation functionality</h3>

      <form [formGroup]="simulationForm" (ngSubmit)="simulateComparison()">
        <div class="input-group">
          <label for="providerName">Provider Name:</label>
          <input type="text" id="providerName" formControlName="providerName" />
          <p class="error-message" *ngIf="simulationForm.controls['providerName'].invalid && simulationForm.controls['providerName'].touched">
            Provider name is required.
          </p>
        </div>

        <div class="input-group">
          <label for="providerPrice">Price per kWh (€):</label>
          <input type="number" id="providerPrice" formControlName="providerPrice" min="0.01" step="0.01" />
          <p class="error-message" *ngIf="simulationForm.controls['providerPrice'].errors?.['min']">
            Price must be greater than 0.
          </p>
        </div>

        <button class="btn simulate-btn" [disabled]="simulationForm.invalid || invoices.length === 0" (click)="simulateComparison()">Simulate</button>
      </form>

      <div class="recommendation" *ngIf="recommendation">
        <p>{{ recommendation }}</p>
      </div>
    </div>
  </div>
</body>
