<body>
  <div class="page-container">
    <div class="text-container">
      <h1>Welcome to Project Gaia</h1>
      <p>Your gateway to an amazing experience</p>
      <div class="button-group">
        <button (click)="navigateToLogin()" class="btn login-btn">Login</button>
        <button (click)="navigateToRegister()" class="btn register-btn">Register</button>
      </div>
      <p class="forgot-password" (click)="navigateToForgotPassword()">Forgot your password?</p>
    </div>
    <div class="image-container">
      <img src="/logoProjectGaia.png">
    </div>
  </div>
</body>
