
<button class="btn dashboard-btn" src="/logoProjectGaia.png" id="dashboard-btn" (click)="goToDashboard()">
  <img src="/logoProjectGaia.png" class="dashboard-img" />
</button>
<button class="btn invoices-btn" id="invoices-btn" (click)="goToInvoices()">Invoices</button>
<button class="btn events-btn" id="events-btn" (click)="goToEvents()">Events</button>
<button class="btn simulation-btn" id="simulation-btn" (click)="goToSimulation()">Simulation</button>
<button class="btn about-us-btn" id="about-us-btn" (click)="goToAboutUs()">About Us</button>
<img class="profile-circle" src="/1144760.png" id="profile-btn" (click)="goToProfile()">
  
