<body>
  <div class="page-container">
    <div class="navbar">
      <button (click)="goToDashboard()" class="btn dashboard-btn">Project Gaia</button>
      <button (click)="goToInvoices()" class="btn invoices-btn">Invoices</button>
      <p class="btn page-selected-btn">Events</p>
      <button class="btn simulation-btn">Teste2</button>
      <div class="profile-circle" (click)="goToProfile()"></div>
    </div>

    <div class="events-container">
      <h2>Events Calendar</h2>

      <div class="date-picker-container">
        <input type="date" [(ngModel)]="selectedDate" />
        <button (click)="filterEvents()" class="btn search-btn">Search</button>
        <button class="btn add-event-btn">Add</button>
        <button (click)="deleteSelectedEvents()" class="btn delete-btn" [disabled]="selectedEvents.length === 0">Delete Selected</button>
      </div>

      <div class="table-container">
        <table *ngIf="filteredEvents.length > 0; else noEvents" class="events-table">
          <thead>
            <tr>
              <th></th>
              <th (click)="sortBy('id')">
                ID<span *ngIf="currentSortColumn === 'id' && currentSortOrder"> {{ currentSortOrder === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th (click)="sortBy('name')">
                Name<span *ngIf="currentSortColumn === 'name' && currentSortOrder"> {{ currentSortOrder === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th (click)="sortBy('description')">
                Description<span *ngIf="currentSortColumn === 'description' && currentSortOrder"> {{ currentSortOrder === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th (click)="sortBy('date')">
                Date<span *ngIf="currentSortColumn === 'date' && currentSortOrder"> {{ currentSortOrder === 'asc' ? '▲' : '▼' }}</span>
              </th>
              <th (click)="sortBy('type')">
                Type<span *ngIf="currentSortColumn === 'type' && currentSortOrder"> {{ currentSortOrder === 'asc' ? '▲' : '▼' }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of filteredEvents">
              <td><input type="checkbox" (change)="toggleEventSelection(event.id, $event)" /></td>
              <td>{{ event.id }}</td>
              <td>{{ event.name }}</td>
              <td>{{ event.description }}</td>
              <td>
                <span *ngIf="isOverdue(event.date)" class="overdue-label">(Overdue)</span>
                {{ event.date }}
              </td>
              <td>{{ getEventTypeName(event.type) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
        <ng-template #noEvents>
          <p>No events were found for that date</p>
        </ng-template>
      </div>
    </div>
</body>
