* {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow-y: auto;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: rgba(167, 255, 32, 0.5);
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
}

.profile-circle {
  width: 50px;
  height: 50px;
  background-color: #73a634;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-circle:hover {
  background-color: #5a8f2b;
}

hr {
  border: 0.5px solid #ddd;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f5d001;
  text-shadow: -1px -1px 0 #574a00, 1px -1px 0 #574a00, -1px 1px 0 #574a00, 1px 1px 0 #574a00;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.btn {
  padding: 0;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(120deg, #fff9ce, #fff98b);
  color: #2a7125;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-picker-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  padding: 10px 15px;
  background-color: #73a634;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #5a8f2b;
}

.table-container {
  display: flex;
  justify-content: center;
  max-height: 50vh;
  overflow-y: auto;
  width: 100vw;
  padding-bottom: 5px;
}

.events-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.events-table td:first-child {
  text-align: center;
}

.events-table th, .events-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.events-table th {
  background-color: #73a634;
  color: white;
  font-weight: bold;
}

.events-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.events-table tr:hover {
  background-color: #f1f1f1;
}

.overdue-label {
  color: red;
  font-weight: bold;
  margin-right: 5px;
}

.add-event-btn {
  padding: 10px 15px;
  background-color: #0781f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn {
  padding: 10px 15px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-btn:hover {
  background-color: #c9302c;
}

button.add-event-btn {
  background-color: #ffa726;
}

button.add-event-btn:hover {
  background-color: #cf8519;
}

.page-selected-btn {
  background-color: rgba(167, 255, 32, 0.1);
  font-weight: bold;
}

.dashboard-btn {
  font-size: 2.2rem;
  font-weight: bold;
  background-color: rgba(167, 255, 32, 0.1)
}

.invoices-btn {
  background-color: rgba(167, 255, 32, 0.1);
}

.events-btn {
  background-color: rgba(167, 255, 32, 0.1);
}

.simulation-btn {
  background-color: rgba(167, 255, 32, 0.1);
}
