/* Shared styles for all pages */
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: rgba(167, 255, 32, 0.5);
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
}

.profile-circle {
  width: 50px;
  height: 50px;
  background-color: #73a634;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-circle:hover {
  background-color: #5a8f2b;
}

.invoice-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.invoice-table td:first-child {
  text-align: center;
}

.invoice-table th, .invoice-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.invoice-table th {
  background-color: #73a634;
  color: white;
  font-weight: bold;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #f1f1f1;
}

.invoices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #fff9ce, #fff98b);
  height: 100vh;
}

hr {
  border: 0.5px solid #ddd;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f5d001;
  text-shadow: -1px -1px 0 #574a00, 1px -1px 0 #574a00, -1px 1px 0 #574a00, 1px 1px 0 #574a00;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.btn {
  padding: 0;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-selected-btn {
  background-color: rgba(167, 255, 32, 0.1);
  font-weight: bold;
}

.dashboard-btn {
  font-size: 2.2rem;
  font-weight: bold;
  background-color: rgba(167, 255, 32, 0.1)
}

.add-invoice-btn {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #afdf3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-invoice-btn:hover {
  background-color: #8dc63f;
}

.delete-btn {
  margin-bottom: 1rem;
  background-color: #d9534f;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.delete-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-btn:hover {
  background-color: #c9302c;
}
