* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-circle:hover {
  background-color: #5a8f2b;
}

.table-container {
  display: flex;
  justify-content: center;
  max-height: 50vh;
  overflow-y: auto;
  width: fit-content;
  margin-top: 20px;
  border: 5px solid red;
}

.invoice-table {
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.invoice-table td:first-child {
  text-align: center;
}

.invoice-table th, .invoice-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.invoice-table th {
  background-color: #73a634;
  color: white;
  font-weight: bold;
}

.invoice-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.invoice-table tr:hover {
  background-color: #f1f1f1;
}

.invoices-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #fff9ce, #fff98b);
  flex: 1;
}

hr {
  border: 0.5px solid #ddd;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #f5d001;
  text-shadow: -1px -1px 0 #574a00, 1px -1px 0 #574a00, -1px 1px 0 #574a00, 1px 1px 0 #574a00;
}

h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

.btn {
  padding: 0;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-invoice-btn {
  padding: 10px 15px;
  background-color: #afdf3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-invoice-btn:hover {
  background-color: #8dc63f;
}

.delete-btn {
  padding: 10px 15px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-btn:hover {
  background-color: #c9302c;
}

.filters-applied-label {
  margin-top: 10px;
  font-size: 1rem;
  color: #73a634;
  font-weight: bold;
  text-align: center;
}


.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filter-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-weight: bold;
}

.range-container {
  display: flex;
  gap: 10px;
}

input, select {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-btn {
  padding: 10px 15px;
  background-color: #0781f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn {
  padding: 10px 15px;
  background-color: #0781f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.edit-btn:hover {
  background-color: #2b5fb3;
}

.apply-filters-btn, .reset-filters-btn, .close-filters-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #0781f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter-btn:hover {
  background-color: #075df2;
}

button.apply-filters-btn {
  background-color: #afdf3c;
}

button.apply-filters-btn:hover {
  background-color: #8dc63f;
}

button.reset-filters-btn {
  background-color: #ffa726;
}

button.reset-filters-btn:hover {
  background-color: #cf8519;
}

button.close-filters-btn {
  background-color: #dc3545;
}

button.close-filters-btn:hover {
  background-color: #c82333;
}
