* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  position: sticky;
  top: 0;
  height: 75px;
  width: 100%;
  padding: 0 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(167, 255, 32, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center
}

.dashboard-btn {
  height: 100%;
  width: fit-content;
  border: 5px solid red;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.dashboard-img {
  width: 75px;
  pointer-events: none;
  margin-right: 10px;
}
